In [1]:
import pandas as pd

In [2]:
from pydataset import data

initiated datasets repo at: C:\Users\USER\.pydataset/

In [3]:
data()

        dataset_id                                             title
0    AirPassengers       Monthly Airline Passenger Numbers 1949-1960
1          BJsales                 Sales Data with Leading Indicator
2              BOD                         Biochemical Oxygen Demand
3     Formaldehyde                     Determination of Formaldehyde
4     HairEyeColor         Hair and Eye Color of Statistics Students
..             ...                                               ...
752        VerbAgg                  Verbal Aggression item responses
753           cake                 Breakage Angle of Chocolate Cakes
754           cbpp                 Contagious bovine pleuropneumonia
755    grouseticks  Data on red grouse ticks from Elston et al. 2001
756     sleepstudy       Reaction times in a sleep deprivation study

[757 rows x 2 columns]

In [4]:
df = data("HairEyeColor")
df

     Hair    Eye     Sex  Freq
1   Black  Brown    Male    32
2   Brown  Brown    Male    53
3     Red  Brown    Male    10
4   Blond  Brown    Male     3
5   Black   Blue    Male    11
6   Brown   Blue    Male    50
7     Red   Blue    Male    10
8   Blond   Blue    Male    30
9   Black  Hazel    Male    10
10  Brown  Hazel    Male    25
11    Red  Hazel    Male     7
12  Blond  Hazel    Male     5
13  Black  Green    Male     3
14  Brown  Green    Male    15
15    Red  Green    Male     7
16  Blond  Green    Male     8
17  Black  Brown  Female    36
18  Brown  Brown  Female    66
19    Red  Brown  Female    16
20  Blond  Brown  Female     4
21  Black   Blue  Female     9
22  Brown   Blue  Female    34
23    Red   Blue  Female     7
24  Blond   Blue  Female    64
25  Black  Hazel  Female     5
26  Brown  Hazel  Female    29
27    Red  Hazel  Female     7
28  Blond  Hazel  Female     5
29  Black  Green  Female     2
30  Brown  Green  Female    14
31    Red  Green  Female     7
32  Blond  Green  Female     8

In [8]:
df=data()[5:100]
df

,dataset_id,title
5,InsectSprays,Effectiveness of Insect Sprays
6,JohnsonJohnson,Quarterly Earnings per Johnson & Johnson Share
7,LakeHuron,Level of Lake Huron 1875-1972
8,LifeCycleSavings,Intercountry Life-Cycle Savings Data
9,Nile,Flow of the River Nile
10,OrchardSprays,Potency of Orchard Sprays
11,PlantGrowth,Results from an Experiment on Plant Growth
12,Puromycin,Reaction Velocity of an Enzymatic Reaction
13,Titanic,Survival of passengers on the Titanic
14,ToothGrowth,The Effect of Vitamin C on Tooth Growth in Guinea Pigs
15,UCBAdmissions,Student Admissions at UC Berkeley
16,UKDriverDeaths,Road Casualties in Great Britain 1969-84
17,UKgas,UK Quarterly Gas Consumption
18,USAccDeaths,Accidental Deaths in the US 1973-1978
19,USArrests,Violent Crime Rates by US State
20,USJudgeRatings,Lawyers' Ratings of State Judges in the US Superior Court
21,USPersonalExpenditure,Personal Expenditure Data
22,VADeaths,Death Rates in Virginia (1940)
23,WWWusage,Internet Usage per Minute
24,WorldPhones,The World's Telephones
25,airmiles,"Passenger Miles on Commercial US Airlines, 1937-1960"
26,airquality,New York Air Quality Measurements
27,anscombe,Anscombe's Quartet of 'Identical' Simple Linear Regressions
28,attenu,The Joyner-Boore Attenuation Data
29,attitude,The Chatterjee-Price Attitude Data
30,austres,Quarterly Time Series of the Number of Australian Residents
31,cars,Speed and Stopping Distances of Cars
32,chickwts,Chicken Weights by Feed Type
33,co2,Mauna Loa Atmospheric CO2 Concentration
34,crimtab,Student's 3000 Criminals Data
35,discoveries,Yearly Numbers of Important Discoveries
36,esoph,"Smoking, Alcohol and (O)esophageal Cancer"
37,euro,Conversion Rates of Euro Currencies
38,faithful,Old Faithful Geyser Data
39,freeny,Freeny's Revenue Data
40,infert,Infertility after Spontaneous and Induced Abortion
41,iris,Edgar Anderson's Iris Data
42,islands,Areas of the World's Major Landmasses
43,lh,Luteinizing Hormone in Blood Samples
44,longley,Longley's Economic Regression Data
45,lynx,Annual Canadian Lynx trappings 1821-1934
46,morley,Michelson Speed of Light Data
47,mtcars,Motor Trend Car Road Tests
48,nhtemp,Average Yearly Temperatures in New Haven
49,nottem,"Average Monthly Temperatures at Nottingham, 1920-1939"
50,npk,"Classical N, P, K Factorial Experiment"
51,occupationalStatus,Occupational Status of Fathers and their Sons
52,precip,Annual Precipitation in US Cities
53,presidents,Quarterly Approval Ratings of US Presidents
54,pressure,Vapor Pressure of Mercury as a Function of Temperature
55,quakes,Locations of Earthquakes off Fiji
56,randu,Random Numbers from Congruential Generator RANDU
57,rivers,Lengths of Major North American Rivers
58,rock,Measurements on Petroleum Rock Samples
59,sleep,Student's Sleep Data
60,stackloss,Brownlee's Stack Loss Plant Data
61,sunspot.month,"Monthly Sunspot Data, from 1749 to ""Present"""
62,sunspot.year,"Yearly Sunspot Data, 1700-1988"
63,sunspots,"Monthly Sunspot Numbers, 1749-1983"
64,swiss,Swiss Fertility and Socioeconomic Indicators (1888) Data
65,treering,"Yearly Treering Data, -6000-1979"
66,trees,"Girth, Height and Volume for Black Cherry Trees"
67,uspop,Populations Recorded by the US Census
68,volcano,Topographic Information on Auckland's Maunga Whau Volcano
69,warpbreaks,The Number of Breaks in Yarn during Weaving
70,women,Average Heights and Weights for American Women
71,acme,Monthly Excess Returns
72,aids,Delay in AIDS Reporting in England and Wales
73,aircondit,Failures of Air-conditioning Equipment
74,aircondit7,Failures of Air-conditioning Equipment
75,amis,Car Speeding and Warning Signs
76,aml,Remission Times for Acute Myelogenous Leukaemia
77,bigcity,Population of U.S. Cities
78,brambles,Spatial Location of Bramble Canes
79,breslow,Smoking Deaths Among Doctors
80,calcium,Calcium Uptake Data
81,cane,Sugar-cane Disease Data
82,capability,Simulated Manufacturing Process Data
83,catsM,Weight Data for Domestic Cats
84,cav,Position of Muscle Caveolae
85,cd4,CD4 Counts for HIV-Positive Patients
86,channing,Channing House Data
87,city,Population of U.S. Cities
88,claridge,Genetic Links to Left-handedness
89,cloth,Number of Flaws in Cloth
90,co.transfer,Carbon Monoxide Transfer
91,coal,Dates of Coal Mining Disasters
92,darwin,Darwin's Plant Height Differences
93,dogs,Cardiac Data for Domestic Dogs
94,downs.bc,Incidence of Down's Syndrome in British Columbia
95,ducks,Behavioral and Plumage Characteristics of Hybrid Ducks
96,fir,Counts of Balsam-fir Seedlings
97,frets,Head Dimensions in Brothers
98,grav,Acceleration Due to Gravity
99,gravity,Acceleration Due to Gravity

In [9]:
df1=data("LifeCycleSavings")
df1

                   sr  pop15  pop75      dpi   ddpi
Australia       11.43  29.35   2.87  2329.68   2.87
Austria         12.07  23.32   4.41  1507.99   3.93
Belgium         13.17  23.80   4.43  2108.47   3.82
Bolivia          5.75  41.89   1.67   189.13   0.22
Brazil          12.88  42.19   0.83   728.47   4.56
Canada           8.79  31.72   2.85  2982.88   2.43
Chile            0.60  39.74   1.34   662.86   2.67
China           11.90  44.75   0.67   289.52   6.51
Colombia         4.98  46.64   1.06   276.65   3.08
Costa Rica      10.78  47.64   1.14   471.24   2.80
Denmark         16.85  24.42   3.93  2496.53   3.99
Ecuador          3.59  46.31   1.19   287.77   2.19
Finland         11.24  27.84   2.37  1681.25   4.32
France          12.64  25.06   4.70  2213.82   4.52
Germany         12.55  23.31   3.35  2457.12   3.44
Greece          10.67  25.62   3.10   870.85   6.28
Guatamala        3.01  46.05   0.87   289.71   1.48
Honduras         7.70  47.32   0.58   232.44   3.19
Iceland          1.27  34.03   3.08  1900.10   1.12
India            9.00  41.31   0.96    88.94   1.54
Ireland         11.34  31.16   4.19  1139.95   2.99
Italy           14.28  24.52   3.48  1390.00   3.54
Japan           21.10  27.01   1.91  1257.28   8.21
Korea            3.98  41.74   0.91   207.68   5.81
Luxembourg      10.35  21.80   3.73  2449.39   1.57
Malta           15.48  32.54   2.47   601.05   8.12
Norway          10.25  25.95   3.67  2231.03   3.62
Netherlands     14.65  24.71   3.25  1740.70   7.66
New Zealand     10.67  32.61   3.17  1487.52   1.76
Nicaragua        7.30  45.04   1.21   325.54   2.48
Panama           4.44  43.56   1.20   568.56   3.61
Paraguay         2.02  41.18   1.05   220.56   1.03
Peru            12.70  44.19   1.28   400.06   0.67
Philippines     12.78  46.26   1.12   152.01   2.00
Portugal        12.49  28.96   2.85   579.51   7.48
South Africa    11.14  31.94   2.28   651.11   2.19
South Rhodesia  13.30  31.92   1.52   250.96   2.00
Spain           11.77  27.74   2.87   768.79   4.35
Sweden           6.86  21.44   4.54  3299.49   3.01
Switzerland     14.13  23.49   3.73  2630.96   2.70
Turkey           5.13  43.42   1.08   389.66   2.96
Tunisia          2.81  46.12   1.21   249.87   1.13
United Kingdom   7.81  23.27   4.46  1813.93   2.01
United States    7.56  29.81   3.43  4001.89   2.45
Venezuela        9.22  46.40   0.90   813.39   0.53
Zambia          18.56  45.25   0.56   138.33   5.14
Jamaica          7.72  41.12   1.73   380.47  10.23
Uruguay          9.24  28.13   2.72   766.54   1.88
Libya            8.89  43.69   2.07   123.58  16.71
Malaysia         4.71  47.20   0.66   242.69   5.08

In [10]:
df2=data("AirPassengers")
df2

            time  AirPassengers
1    1949.000000            112
2    1949.083333            118
3    1949.166667            132
4    1949.250000            129
5    1949.333333            121
6    1949.416667            135
7    1949.500000            148
8    1949.583333            148
9    1949.666667            136
10   1949.750000            119
11   1949.833333            104
12   1949.916667            118
13   1950.000000            115
14   1950.083333            126
15   1950.166667            141
16   1950.250000            135
17   1950.333333            125
18   1950.416667            149
19   1950.500000            170
20   1950.583333            170
21   1950.666667            158
22   1950.750000            133
23   1950.833333            114
24   1950.916667            140
25   1951.000000            145
26   1951.083333            150
27   1951.166667            178
28   1951.250000            163
29   1951.333333            172
30   1951.416667            178
31   1951.500000            199
32   1951.583333            199
33   1951.666667            184
34   1951.750000            162
35   1951.833333            146
36   1951.916667            166
37   1952.000000            171
38   1952.083333            180
39   1952.166667            193
40   1952.250000            181
41   1952.333333            183
42   1952.416667            218
43   1952.500000            230
44   1952.583333            242
45   1952.666667            209
46   1952.750000            191
47   1952.833333            172
48   1952.916667            194
49   1953.000000            196
50   1953.083333            196
51   1953.166667            236
52   1953.250000            235
53   1953.333333            229
54   1953.416667            243
55   1953.500000            264
56   1953.583333            272
57   1953.666667            237
58   1953.750000            211
59   1953.833333            180
60   1953.916667            201
61   1954.000000            204
62   1954.083333            188
63   1954.166667            235
64   1954.250000            227
65   1954.333333            234
66   1954.416667            264
67   1954.500000            302
68   1954.583333            293
69   1954.666667            259
70   1954.750000            229
71   1954.833333            203
72   1954.916667            229
73   1955.000000            242
74   1955.083333            233
75   1955.166667            267
76   1955.250000            269
77   1955.333333            270
78   1955.416667            315
79   1955.500000            364
80   1955.583333            347
81   1955.666667            312
82   1955.750000            274
83   1955.833333            237
84   1955.916667            278
85   1956.000000            284
86   1956.083333            277
87   1956.166667            317
88   1956.250000            313
89   1956.333333            318
90   1956.416667            374
91   1956.500000            413
92   1956.583333            405
93   1956.666667            355
94   1956.750000            306
95   1956.833333            271
96   1956.916667            306
97   1957.000000            315
98   1957.083333            301
99   1957.166667            356
100  1957.250000            348
101  1957.333333            355
102  1957.416667            422
103  1957.500000            465
104  1957.583333            467
105  1957.666667            404
106  1957.750000            347
107  1957.833333            305
108  1957.916667            336
109  1958.000000            340
110  1958.083333            318
111  1958.166667            362
112  1958.250000            348
113  1958.333333            363
114  1958.416667            435
115  1958.500000            491
116  1958.583333            505
117  1958.666667            404
118  1958.750000            359
119  1958.833333            310
120  1958.916667            337
121  1959.000000            360
122  1959.083333            342
123  1959.166667            406
124  1959.250000            396
125  1959.333333            420
126  1959.416667            472
127  1959.500000            548
128  1959.583333            559
129  1959.666667            463
130  1959.750000            407
131  1959.833333            362
132  1959.916667            405
133  1960.000000            417
134  1960.083333            391
135  1960.166667            419
136  1960.250000            461
137  1960.333333            472
138  1960.416667            535
139  1960.500000            622
140  1960.583333            606
141  1960.666667            508
142  1960.750000            461
143  1960.833333            390
144  1960.916667            432

In [11]:
df3=data("islands")
df3

                      x
Africa            11506
Antarctica         5500
Asia              16988
Australia          2968
Axel Heiberg         16
Baffin              184
Banks                23
Borneo              280
Britain              84
Celebes              73
Celon                25
Cuba                 43
Devon                21
Ellesmere            82
Europe             3745
Greenland           840
Hainan               13
Hispaniola           30
Hokkaido             30
Honshu               89
Iceland              40
Ireland              33
Java                 49
Kyushu               14
Luzon                42
Madagascar          227
Melville             16
Mindanao             36
Moluccas             29
New Britain          15
New Guinea          306
New Zealand (N)      44
New Zealand (S)      58
Newfoundland         43
North America      9390
Novaya Zemlya        32
Prince of Wales      13
Sakhalin             29
South America      6795
Southampton          16
Spitsbergen          15
Sumatra             183
Taiwan               14
Tasmania             26
Tierra del Fuego     19
Timor                13
Vancouver            12
Victoria             82

In [13]:
df=data()[100:150]
df

       dataset_id                                                   title
100        hirose                                Failure Time of PET Film
101         islay                        Jura Quartzite Azimuths on Islay
102        manaus        Average Heights of the Rio Negro river at Manaus
103      melanoma                        Survival from Malignant Melanoma
104         motor               Data from a Simulated Motorcycle Accident
105         neuro                   Neurophysiological Point Process Data
106      nitrofen                 Toxicity of Nitrofen in Aquatic Systems
107         nodal                    Nodal Involvement in Prostate Cancer
108       nuclear                 Nuclear Power Station Construction Data
109       paulsen                  Neurotransmission in Guinea Pig Brains
110       poisons                                   Animal Survival Times
111         polar              Pole Positions of New Caledonian Laterites
112     remission                      Cancer Remission and Cell Activity
113      salinity                      Water Salinity and River Discharge
114      survival                  Survival of Rats after Radiation Doses
115           tau                                Tau Particle Decay Modes
116          tuna                                      Tuna Sighting Data
117         urine                                     Urine Analysis Data
118          wool                         Australian Relative Wool Prices
119          aids                                  data from Section 1.19
120      alloauto                                   data from Section 1.9
121     allograft                           data from Exercise 13.1, p418
122           azt                            data from Exercise 4.7, p122
123        baboon                            data from Exercise 5.8, p147
124       bcdeter                                  data from Section 1.18
125         bfeed                                  data from Section 1.14
126           bmt                                   data from Section 1.3
127          bnct                            data from Exercise 7.7, p223
128        btrial                                   data from Section 1.5
129          burn                                   data from Section 1.6
130      channing                                  data from Section 1.16
131       drug6mp                                   data from Section 1.2
132       drughiv                            data from Exercise 7.6, p222
133          hodg                                  data from Section 1.10
134        kidney                                   data from Section 1.4
135     kidrecurr  Data on 38 individuals using a kidney dialysis machine
136       kidtran                                   data from Section 1.7
137        larynx                                   data from Section 1.8
138          lung                            data from Exercise 4.4, p120
139       pneumon                                  data from Section 1.13
140         psych                                  data from Section 1.15
141          rats                           data from Exercise 7.13, p225
142           std                                  data from Section 1.12
143       stddiag                            data from Exercise 5.6, p146
144        tongue                                  data from Section 1.11
145         twins                           data from Exercise 7.14, p225
146      Animals2   Brain and Body Weights for 65 Species of Land Animals
147        CrohnD                     Crohn's Disease Adverse Events Data
148  NOxEmissions                                  NOx Air Pollution Data
149     SiegelsEx                         Siegel's Exact Fit Example Data

In [14]:
df5=data("kidney")
df5

    id  time  status  age  sex disease  frail
1    1     8       1   28    1   Other    2.3
2    1    16       1   28    1   Other    2.3
3    2    23       1   48    2      GN    1.9
4    2    13       0   48    2      GN    1.9
5    3    22       1   32    1   Other    1.2
6    3    28       1   32    1   Other    1.2
7    4   447       1   31    2   Other    0.5
8    4   318       1   32    2   Other    0.5
9    5    30       1   10    1   Other    1.5
10   5    12       1   10    1   Other    1.5
11   6    24       1   16    2   Other    1.1
12   6   245       1   17    2   Other    1.1
13   7     7       1   51    1      GN    3.0
14   7     9       1   51    1      GN    3.0
15   8   511       1   55    2      GN    0.5
16   8    30       1   56    2      GN    0.5
17   9    53       1   69    2      AN    0.7
18   9   196       1   69    2      AN    0.7
19  10    15       1   51    1      GN    0.4
20  10   154       1   52    1      GN    0.4
21  11     7       1   44    2      AN    0.6
22  11   333       1   44    2      AN    0.6
23  12   141       1   34    2   Other    1.2
24  12     8       0   34    2   Other    1.2
25  13    96       1   35    2      AN    1.4
26  13    38       1   35    2      AN    1.4
27  14   149       0   42    2      AN    0.4
28  14    70       0   42    2      AN    0.4
29  15   536       1   17    2   Other    0.4
30  15    25       0   17    2   Other    0.4
31  16    17       1   60    1      AN    1.1
32  16     4       0   60    1      AN    1.1
33  17   185       1   60    2   Other    0.8
34  17   177       1   60    2   Other    0.8
35  18   292       1   43    2   Other    0.8
36  18   114       1   44    2   Other    0.8
37  19    22       0   53    2      GN    0.5
38  19   159       0   53    2      GN    0.5
39  20    15       1   44    2   Other    1.3
40  20   108       0   44    2   Other    1.3
41  21   152       1   46    1     PKD    0.2
42  21   562       1   47    1     PKD    0.2
43  22   402       1   30    2   Other    0.6
44  22    24       0   30    2   Other    0.6
45  23    13       1   62    2      AN    1.7
46  23    66       1   63    2      AN    1.7
47  24    39       1   42    2      AN    1.0
48  24    46       0   43    2      AN    1.0
49  25    12       1   43    1      AN    0.7
50  25    40       1   43    1      AN    0.7
51  26   113       0   57    2      AN    0.5
52  26   201       1   58    2      AN    0.5
53  27   132       1   10    2      GN    1.1
54  27   156       1   10    2      GN    1.1
55  28    34       1   52    2      AN    1.8
56  28    30       1   52    2      AN    1.8
57  29     2       1   53    1      GN    1.5
58  29    25       1   53    1      GN    1.5
59  30   130       1   54    2      GN    1.5
60  30    26       1   54    2      GN    1.5
61  31    27       1   56    2      AN    1.7
62  31    58       1   56    2      AN    1.7
63  32     5       0   50    2      AN    1.3
64  32    43       1   51    2      AN    1.3
65  33   152       1   57    2     PKD    2.9
66  33    30       1   57    2     PKD    2.9
67  34   190       1   44    2      GN    0.7
68  34     5       0   45    2      GN    0.7
69  35   119       1   22    2   Other    2.2
70  35     8       1   22    2   Other    2.2
71  36    54       0   42    2   Other    0.7
72  36    16       0   42    2   Other    0.7
73  37     6       0   52    2     PKD    2.1
74  37    78       1   52    2     PKD    2.1
75  38    63       1   60    1     PKD    1.2
76  38     8       0   60    1     PKD    1.2